.body{
  min-width: 980px;
  font-family: Helvetica, Arial,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

// .clearfix{
//   &:after{
//     content: "";
//     display: block;
//     clear: both;
//   }
// }

.slider{
  position: relative;
  min-width: 980px;
  min-height: 708px;
  overflow: hidden;
  .header{
    position: absolute;
    bottom: 53px;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    &__parts{
      width: 980px;
      height: 80px;
      margin: 0 auto;
      &__logo{
        float: left;
        width: 160px;
        background-color: #015db2;
        padding: 8px 0;
        margin-left: -100%;
        padding-left: 100%;
      }
      &__menu{
        display: table;
        padding-left: 36px;
        overflow: hidden;
        &__list{
          li{
            float: left;
            a{
              width: 112px;
              height: 80px;
              display: block;
              text-indent: -9999px;
              background-image: url(https://pocarisweat.jp/shared/images/header_gnav_pc_01.gif);
              overflow: hidden;
            }
          }
          li + li{
            a{
              background-position: -112px 0;
            }
          }
          li + li +li{
            a{
              background-position: -224px 0;
            }
          }
          li + li +li +li{
            a{
              background-position: -336px 0;
            }
          }
          li + li +li +li +li{
            a{
              background-position: -448px 0;
            }
          }
          li + li +li +li + li + li{
            a{
              background-position: -560px 0;
            }
          }
          li + li +li +li + li + li + li{
            a{
              background-position: -672px 0;
            }
          }
        }
      }
    }
    &__news{
      background-color: #091E4E;
      &__content{
        color: white;
        width: 820px;
        margin: 0 auto;
        padding: 12px 0 12px 160px;
        &__title{
          font-size: 0.8em;
          font-weight: bold;
          margin-right: 10px;
        }
        &__date{
          font-size: 0.714em;
          padding: 3px 5px;
          margin-right: 10px;
          background-color: #6b7b97;
        }
        &__text{
          font-size: 0.714em;
        }
      }
    }
  }
  .slides{
    margin: 0;
    padding: 0;
    left: 0;
    list-style: none;
    width: 100%;
    li{
      float: left;
      overflow: hidden;
      width: auto;
      display: block;
      position: relative;
      img{
        width: auto;
        height: 708px;
      }
    }
    button{
      text-indent: -9999px;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .prev-arrow{
      position: absolute;
      top: 50%;
      left: 24px;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 15px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      z-index: 99;
    }
    .next-arrow{
      position: absolute;
      top: 50%;
      right: 24px;
      width: 0;
      height: 0;
      border-right: 0 solid transparent;
      border-left: 15px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    .slide-dots{
      width: 100%;
      text-align: center;
      bottom: 202px;
      z-index: 999;
      position: absolute;
      li{
        margin: 0 10px;
        width: 30px;
        height: 30px;
        button{
          text-indent: -9999px;
          position: relative;
          &:before{
            content: "●";
            font-size: 25px;
            color: #fff;
            text-indent: 0px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &.slick-active{
          button:before{
            color: blue;
          }
        }
      }
    }
  }
  .scroll{
    position: absolute;
    bottom: 15px;
    left: 50%;
    img{
      width: 55px;
      height: 24px;
    }
  }
}

  // .arrows{
  //   position: absolute;
  //   top: 50%;
  //   width: 100%;
  //   &__arrow{
  //     &__next{
  //       right: 24px;
  //       position: absolute;
  //     }
  //     &__back{
  //       left: 24px;
  //       position: absolute;
  //     }
  //   }
  // }