@charset "UTF-8";
.body {
  min-width: 980px;
  font-family: Helvetica, Arial,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.slider {
  position: relative;
  min-width: 980px;
  min-height: 708px;
  overflow: hidden;
}

.slider .header {
  position: absolute;
  bottom: 53px;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
}

.slider .header__parts {
  width: 980px;
  height: 80px;
  margin: 0 auto;
}

.slider .header__parts__logo {
  float: left;
  width: 160px;
  background-color: #015db2;
  padding: 8px 0;
  margin-left: -100%;
  padding-left: 100%;
}

.slider .header__parts__menu {
  display: table;
  padding-left: 36px;
  overflow: hidden;
}

.slider .header__parts__menu__list li {
  float: left;
}

.slider .header__parts__menu__list li a {
  width: 112px;
  height: 80px;
  display: block;
  text-indent: -9999px;
  background-image: url(https://pocarisweat.jp/shared/images/header_gnav_pc_01.gif);
  overflow: hidden;
}

.slider .header__parts__menu__list li + li a {
  background-position: -112px 0;
}

.slider .header__parts__menu__list li + li + li a {
  background-position: -224px 0;
}

.slider .header__parts__menu__list li + li + li + li a {
  background-position: -336px 0;
}

.slider .header__parts__menu__list li + li + li + li + li a {
  background-position: -448px 0;
}

.slider .header__parts__menu__list li + li + li + li + li + li a {
  background-position: -560px 0;
}

.slider .header__parts__menu__list li + li + li + li + li + li + li a {
  background-position: -672px 0;
}

.slider .header__news {
  background-color: #091E4E;
}

.slider .header__news__content {
  color: white;
  width: 820px;
  margin: 0 auto;
  padding: 12px 0 12px 160px;
}

.slider .header__news__content__title {
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 10px;
}

.slider .header__news__content__date {
  font-size: 0.714em;
  padding: 3px 5px;
  margin-right: 10px;
  background-color: #6b7b97;
}

.slider .header__news__content__text {
  font-size: 0.714em;
}

.slider .slides {
  margin: 0;
  padding: 0;
  left: 0;
  list-style: none;
  width: 100%;
}

.slider .slides li {
  float: left;
  overflow: hidden;
  width: auto;
  display: block;
  position: relative;
}

.slider .slides li img {
  width: auto;
  height: 708px;
}

.slider .slides button {
  text-indent: -9999px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider .slides .prev-arrow {
  position: absolute;
  top: 50%;
  left: 24px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 99;
}

.slider .slides .next-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider .slides .slide-dots {
  width: 100%;
  text-align: center;
  bottom: 202px;
  z-index: 999;
  position: absolute;
}

.slider .slides .slide-dots li {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.slider .slides .slide-dots li button {
  text-indent: -9999px;
  position: relative;
}

.slider .slides .slide-dots li button:before {
  content: "●";
  font-size: 25px;
  color: #fff;
  text-indent: 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.slider .slides .slide-dots li.slick-active button:before {
  color: blue;
}

.slider .scroll {
  position: absolute;
  bottom: 15px;
  left: 50%;
}

.slider .scroll img {
  width: 55px;
  height: 24px;
}
/*# sourceMappingURL=style.css.map */