.body{
  min-width: 980px;
  font-family: Helvetica, Arial,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

.slider{
  position: relative;
  min-width: 980px;
  min-height: 708px;
  overflow: hidden;
  .header{
    position: absolute;
    bottom: 53px;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    &__parts{
      width: 980px;
      height: 80px;
      margin: 0 auto;
      &__logo{
        float: left;
        width: 160px;
        background-color: #015db2;
        padding: 8px 0;
        margin-left: -100%;
        padding-left: 100%;
      }
      &__menu{
        display: table;
        padding-left: 36px;
        overflow: hidden;
        &__list{
          li{
            float: left;
            a{
              width: 112px;
              height: 80px;
              display: block;
              text-indent: -9999px;
              background-image: url(https://pocarisweat.jp/shared/images/header_gnav_pc_01.gif);
              overflow: hidden;
            }
          }
          li + li{
            a{
              background-position: -112px 0;
            }
          }
          li + li +li{
            a{
              background-position: -224px 0;
            }
          }
          li + li +li +li{
            a{
              background-position: -336px 0;
            }
          }
          li + li +li +li +li{
            a{
              background-position: -448px 0;
            }
          }
          li + li +li +li + li + li{
            a{
              background-position: -560px 0;
            }
          }
          li + li +li +li + li + li + li{
            a{
              background-position: -672px 0;
            }
          }
        }
      }
    }
    &__news{
      background-color: #091E4E;
      &__content{
        color: white;
        width: 820px;
        margin: 0 auto;
        padding: 12px 0 12px 160px;
        &__title{
          font-size: 0.8em;
          font-weight: bold;
          margin-right: 10px;
        }
        &__date{
          font-size: 0.714em;
          padding: 3px 5px;
          margin-right: 10px;
          background-color: #6b7b97;
        }
        &__text{
          font-size: 0.714em;
        }
      }
    }
  }
  .slides{
    margin: 0;
    padding: 0;
    left: 0;
    list-style: none;
    width: 100%;
    li{
      float: left;
      width: auto;
      display: block;
      position: relative;
      img{
        width: auto;
        height: 708px;
      }
    }
    button{
      text-indent: -9999px;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .prev-arrow{
      position: absolute;
      top: 50%;
      left: 24px;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 15px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      z-index: 99;
    }
    .next-arrow{
      position: absolute;
      top: 50%;
      right: 24px;
      width: 0;
      height: 0;
      border-right: 0 solid transparent;
      border-left: 15px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    .slide-dots{
      bottom: 202px;
      left: 43%;
      z-index: 999;
      position: absolute;
      li{
        display: inline-block;
        margin: 0 10px;
        width: 30px;
        height: 30px;
        button{
          text-indent: -9999px;
          position: relative;
          &:before{
            content: "●";
            font-size: 25px;
            color: #fff;
            text-indent: 0px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &.slick-active{
          button:before{
            color: blue;
          }
        }
      }
    }
  }
  .scroll{
    position: absolute;
    bottom: 15px;
    left: 48%;
    img{
      width: 55px;
      height: 24px;
    }
  }
}

.contents{
  text-align: center;
  background-color: #fff;
  .content1{
    width: 980px;
    margin: 0 auto;
    padding-bottom: 70px;
    position: relative;
    h2{
      color: #015db2;
      font-size: 25px;
      font-weight: bold;
      margin-top: 70px;
      margin-bottom: 30px;
      .under{
        border-bottom: solid 3px #015db2;
      }
    }
    .box__wrapper{
      max-width: 820px;
      height: 184px;
      margin: 0 auto;
      overflow: hidden;
      .box__slider{
        width: 100%;
        height: 100%;
        li{
          float: left;
          img{
            max-width: 100%;
          }
          &:hover{
            text-decoration: underline;
          }
          .text{
            display: block;
            margin-top: 10px;
            margin-left: 5px;
            padding: 0 5px 5px 10px;
            font-size: 13px;
            text-align:justify;
            color: gray;
            background: url(https://pocarisweat.jp/shared/images/mod_ico_arwR_01.png) 0 2px no-repeat;
            background-size: 6px auto;
          }
        }
      }
    }
    .prev-arrow2{
      position: absolute;
      top: -60px;
      bottom: 0;
      left: 30px;
      margin: auto;
      width: 30px;
      height: 30px;
      background: url(https://pocarisweat.jp/images/home_arw_04.png);
    }
    .next-arrow2{
      position: absolute;
      top: 110px;
      width: 30px;
      height: 30px;
      right: 30px;
      border: none;
      background: url(https://pocarisweat.jp/images/home_arw_03.png);
    }
  }
  .content2{
    background-image: url(https://pocarisweat.jp/images/home_bg_01.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 40px 0;
    .tabs__wrapper{
      width: 980px;
      margin: 0 auto;
      .tabs{
        margin: 0 -50px;
        li{
          float: left;
          position: relative;
          &.active:after{
            content: "";
            display: block;
            width: 16px;
            height: 9px;
            bottom: -9px;
            background: url(https://pocarisweat.jp/images/home_ico_tab_01.png) 0 0 no-repeat;
            background-size: cover;
            position: absolute;
            left: 50%;
          }
          img{
            vertical-align: bottom;
          }
        }
      }
    }
    .content2__zone{
      width: 1080px;
      margin: 0 auto;
      padding-top: 60px;
      background: rgba(255, 255, 255, 0.8);
      .photos__wrapper{
        margin: 0 30px 0 10px;
        li{
          width: 215px;
          height: 185px;
          float: left;
          margin: 0 0 45px 40px;
          img{
            height: 155px;
          }
          span{
            font-size: 14px;
            font-weight: bold;
            color: #015db2;
            display: block;
            margin-top: 10px;
            padding-left: 12px;
            text-align:justify;
            background: url(https://pocarisweat.jp/shared/images/mod_ico_arwR_01.png) 0 0 no-repeat;
            background-size: 6px auto;
          }
          &:hover{
            text-decoration: underline #015db2;
          }
        }
      }
    }
  }
  .content3{
    padding-top: 40px;
    .lists{
      // float: left;
      .list__left{
        width: 33%;
        float: left;
        img{
          width: 100%;
          height: auto;
        }
        dl{
          padding: 40px 60px;
          dt{
            margin-bottom: 30px;
            img{
              width: auto;
              height: 25px;
            }
          }
        }
      }
      .list__center{
        width: 34%;
        float: left;
        img{
          width: 100%;
          height: auto;
        }
        dl{
          padding: 40px 60px;
          dt{
            margin-bottom: 30px;
            img{
              width: auto;
              height: 25px;
            }
          }
        }
      }
      .list__right{
        width: 33%;
        float: right;
        img{
          width: 100%;
          height: auto;
        }
        dl{
          padding: 40px 60px;
          dt{
            margin-bottom: 30px;
            img{
              width: auto;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

.tab__inner{
  display: none;
}
.tab__inner.show{
  display: block;
}

  // .arrows{
  //   position: absolute;
  //   top: 50%;
  //   width: 100%;
  //   &__arrow{
  //     &__next{
  //       right: 24px;
  //       position: absolute;
  //     }
  //     &__back{
  //       left: 24px;
  //       position: absolute;
  //     }
  //   }
  // }